.footer {
    background-color:hsla(0, 0%, 97%, 0.8) ;
    padding: 20px 0 20px 120px;
    width: 100vw;
}

.footer-social .bi {
    color: #3b3b3b;
    font-size: 30px;
    margin-right: 10px;
}

.footer p {
    margin: 5px 0;
    width: fit-content;
    color: #3b3b3b;
}

.footer a {
    text-decoration: none;
    color: #3b3b3b;
    font-weight: 600;
}

.footer a:hover {
    text-decoration: none;
    color: hsla(0, 0%, 8%, 0.8);
}